{% extends 'base.html' %}  </! Inherit from base.html >

{% block title %}Admin Dashboard{% endblock %}  </! Override title >

{% block content %}  
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Admin Dashboard</h2>
		<div class="admin-stats">
            <h3>Stats</h3>
            <p>New Members (Last Month): {{ new_members_last_month }}</p>
            <p>Sign-Ins (Last Month): {{ signins_last_month }}</p>
            <p>Sign-Ins (Last 24 Hours): {{ signins_last_24_hours }}</p>
        </div>
        <a href="{{ url_for('change_password') }}" class="button">Change Password</a>
        <a href="{{ url_for('admin_rewards') }}" class="button">Manage Rewards</a>
        <a href="{{ url_for('admin_logout') }}" class="button">Logout</a>



        <h2>Check Ins</h2>
         </! Sign-in Filtering Form ->
        <form action="{{ url_for('admin_dashboard') }}" method="get">
            <label for="from_date">From Date:</label>
            <input type="date" id="from_date" name="from_date" value="{{ from_date }}">
            <label for="to_date">To Date:</label>
            <input type="date" id="to_date" name="to_date" value="{{ to_date }}">
            <button type="submit" class="button edit-button">Filter</button>
             <a href="{{url_for('admin_dashboard')}}" class = "button edit-button">Clear</a>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Member Name</th>
                </tr>
            </thead>
            <tbody>
                {% for signin in signins %}
                <tr>
                    <td>{{ signin.timestamp }}</td>
                    <td>{{ signin.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('admin_dashboard', page=page-1, search=search_query, from_date=from_date, to_date=to_date) }}" class="button page-button edit-button">Previous</a>
            {% endif %}
            <span>Page {{ page }} of {{ total_pages }}</span>
            {% if page < total_pages %}
                <a href="{{ url_for('admin_dashboard', page=page+1, search=search_query, from_date=from_date, to_date=to_date) }}" class="button page-button edit-button">Next</a>
            {% endif %}
        </div>

        <h2>Rewards</h2>
        </! Redemptions Filtering Form ->
        <form action="{{ url_for('admin_dashboard') }}" method="get">
            <label for="redemptions_from_date">From Date:</label>
            <input type="date" id="redemptions_from_date" name="redemptions_from_date" value="{{ redemptions_from_date }}">
            <label for="redemptions_to_date">To Date:</label>
            <input type="date" id="redemptions_to_date" name="redemptions_to_date" value="{{ redemptions_to_date }}">
            <button type="submit" class="button edit-button">Filter</button>
            <a href="{{url_for('admin_dashboard')}}" class = "button edit-button">Clear</a>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Member Name</th>
                    <th>Reward Name</th>
                    <th>Ruby Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for redemption in redemptions %} 
                <tr>
                    <td>{{ redemption.timestamp }}</td>
                    <td>{{ redemption.member_name }}</td>
                    <td>{{ redemption.reward_name }}</td>
                    <td>{{ redemption.ruby_cost }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {% if redemptions_page > 1 %}
                <a href="{{ url_for('admin_dashboard', page=page, redemptions_page=redemptions_page-1, search=search_query, from_date=from_date, to_date=to_date, redemptions_from_date=redemptions_from_date, redemptions_to_date=redemptions_to_date) }}" class="button edit-button page-button">Previous</a>
            {% endif %}
            <span>Page {{ redemptions_page }} of {{ redemptions_total_pages }}</span>
            {% if redemptions_page < redemptions_total_pages %}
                <a href="{{ url_for('admin_dashboard', page=page, redemptions_page=redemptions_page+1, search=search_query, from_date=from_date, to_date=to_date, redemptions_from_date=redemptions_from_date, redemptions_to_date=redemptions_to_date) }}" class="button edit-button page-button">Next</a>
            {% endif %}
        </div>
		
		        <h2>Members</h2>
        <form action="{{ url_for('admin_dashboard') }}" method="get">
            <input type="text" name="search" placeholder="Search Members" value="{{ search_query }}">
            <button type="submit" class="button edit-button">Search</button>
            <a href="{{url_for('admin_dashboard')}}" class = "button edit-button">Clear</a>
        </form>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Email Opt-in</th>
                    <th>SMS Opt-in</th>
                    <th>Last Login</th>
                    <th>Streak</th>
                    <th>Rubies</th>
                    <th>Edit</th>
                    </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.email_opt_in }}</td>
                    <td>{{ member.sms_opt_in }}</td>
                    <td>{{ member.last_login }}</td>
                    <td>{{ member.streak }}</td>
                    <td>{{ member.rubies }}</td>
                     <td>
                        <a href="{{ url_for('edit_member', member_id=member.id) }}" class="button edit-button">Member</a>
                        <a href="{{ url_for('edit_rubies', member_id=member.id) }}" class="button edit-button">Rubies</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</body>
</html>
{% endblock %}