{% extends 'base.html' %}  </! Inherit from base.html >

{% block title %}Rockafairy{% endblock %}  </! Override title >

{% block content %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockafairy - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ first_name }}!</h2>

        <div class="stats-container">
            <div class="stat-item">
                <i class="fas fa-gem stat-icon"></i>
                <span class="stat-value" id="ruby-count">{{ member.rubies }}</span>
                <span class="stat-label">Rubies</span>
            </div>
            <div class="stat-item">
                <i class="fas fa-fire stat-icon"></i>
                <span class="stat-value" id="streak-count">{{ member.streak }}</span>
                <span class="stat-label">day streak</span>
            </div>
        </div>

        {% if rubies_earned > 0 %}
        <div id="ruby-animation">
            {% for _ in range(rubies_earned) %}
                <i class="fas fa-gem ruby"></i>
            {% endfor %}
        </div>
        {% endif %}
        {% if is_admin %}
            <a href="{{ url_for('admin_login') }}" class="button admin-button">Admin</a>
        {% endif %}
		<a href="{{ url_for('rewards') }}" class = "button">Rewards</a>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('index') }}";
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</body>
</html>
{% endblock %}