{% extends 'base.html' %}  </! Inherit from base.html >

{% block title %}Rockafairy{% endblock %}  </! Override title >

{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockafairy</title>
	<link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
    <div class="container"> 
        <h1>Rockafairy</h1>

        <div class="mission-statement">
            <b><h2>We enable creative expression!</h2></b>
            <p>Rockafairy gives our community free access to equipment, studio space, education, and more, right here at our nonprofit creative resource center. </p>
			<h2><b>Explore! Experiment! Enjoy!</b></h2> 
			<p>Fuel your own creativity and support local artists by becoming a Rockafairy member! <b>Rockafairy membership is always free</b>, and it lets you stay informed about events, earn daily rewards for visiting, and connect with fellow creatives.
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flash-messages">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form id="checkin-form" action="{{ url_for('checkin') }}" method="post">
            <input type="tel" class="narrow-input" name="identifier" id="identifier" placeholder="Phone Number" required>
        </form>

        <div class="buttons">
            <button id="checkin-button" class="button checkin-button primary-button" type="submit" form="checkin-form">Check In</button>
            <a href="{{ url_for('signup') }}" class="button signup-button secondary-button">Sign Up</a>
        </div>
    </div>
	<script>
        $(document).ready(function(){
            $('#identifier').mask('(000) 000-0000');
        });
    </script>
</body>
</html>
{% endblock %}